*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(11, 160, 160);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    position: relative;
}
.to-do{
font-weight: bold;
font-size: large;
padding: 30px;
top: 50%;
color: white;
}
.enter-text{
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: yellow;
}
.item-mark{
    top: 33%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    color:rgb(118, 243, 118);

}
.item-remove{
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    color: teal;
}
.item-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
}
.item-list input[id="todo"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: white;
    outline: #000;
    height: 40px;
    color:black;
    font-size: 16px;
    text-align: center;
    width: 400px;
    width: 75%;
}
.freak-button
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    width: 25%;
    cursor: pointer;
    float: right;
    transition: 0.3s;
}
 .item-list button[class="freak-button"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
} 
#todoList{
    position: absolute;
    top: calc(45% + 60px);
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}
.todo {
    padding: 4px;
    background-color: rgb(10, 114, 114);
    font-size: large;
    margin: 5px 10px;
    text-align: left;
    transition: 0.2s ease;
    font-weight: normal;
  }

  .todo.success {
    background-color: rgb(118, 243, 118);
  }
 .todo .close{
    color: black;
    position: relative;
    left: auto;
    top: auto;
    float: right;
    background: transparent;
    border: none;
    align-items: center;
    margin-top: 5px;
    font-weight: bold;

  }
  .todo .close:hover{
    cursor: pointer;
    color: #000;
    background-color: lightgray;
    align-items: center;
  }
